extends _component/layout/layout
block awesome-config
    -
        let title = `Roberto Blacke Replica`
        let description = `This will be an improved version of Roberto Blake's website`
block awesome-content
    this is the landing page